[user]
    email = squirrel289@calan.co
    name = Blind Squirrel
[diff]
    tool = vimdiff
[merge]
    tool = vimdiff

# Add OS specific settings
[includeIf "gitdir:/Users"]
    path = ~/.dotfiles/.gitconfig.macos
[includeIf "gitdir:C:"]
    path = ~/.dotfiles/.gitconfig.windows
#[includeIf "gitdir:/home"]
#    path = ~/.dotfiles/.gitconfig.linux
