[user]
    email = squirrel289@calan.co
    name = Blind Squirrel
[diff]
    tool = vimdiff
[merge]
    tool = vimdiff

# Add OS specific settings
[includeIf "gitdir:/Users"]
    path = ~/.gitconfig.macos
[includeIf "gitdir:C:"]
    path = ~/.gitconfig.windows
#[includeIf "gitdir:/home"]
#    path = ~/.dotfiles/.gitconfig.linux
[filter "lfs"]
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
[pull]
	rebase = false
[alias]
	sweep = "!git branch --merged | grep -vE '^\\*|\\+|main|staging' | xargs -n1 -r git branch -d"
	tree = log --graph --decorate --all --oneline
[credential "https://github.com"]
	helper =
	helper = !/opt/homebrew/bin/gh auth git-credential
[credential "https://gist.github.com"]
	helper =
	helper = !/opt/homebrew/bin/gh auth git-credential
